.aboutUs {
  padding: 80px 40px;
  background-color: #f8f9fa;
  margin: 40px auto;
  border-radius: 12px;
  max-width: 1400px;
}

.aboutContainer {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.aboutContainer h1 {
  font-size: 2.8em;
  color: #203394;
  margin-bottom: 20px;
  font-weight: 700;
}

.text {
  font-size: 1.2em;
  color: #343a40;
  line-height: 1.7;
  margin-bottom: 40px;
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.cardGrid {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
}

.card {
  background-color: #ffffff;
  padding: 25px;
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  border: 1px solid #e2e8f0;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.card.expanded {
  background-color: #e6f0ff;
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(32, 51, 148, 0.15);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.cardHeader h3 {
  font-size: 1.5em;
  color: #203394;
  margin: 0;
}

.cardText {
  font-size: 1.1em;
  color: #334155;
  line-height: 1.7;
  margin-bottom: 15px;
}

.readMoreButton {
  padding: 10px 18px;
  background-color: #13b33b;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.readMoreButton:hover {
  background-color: #0e902e;
}

.readMoreButton.expanded {
  background-color: #203394;
}

.specialtiesHeading {
  text-align: center;
  font-size: 2.5rem;
  color: #203394;
  margin: 60px 0 30px 0;
  font-weight: 700;
}

.specialties {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.specialtyCard {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  width: 45%;
  max-width: 500px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.specialtyCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.specialtyCard .cardHeader {
  background: linear-gradient(to right, #203394, #13b33b);
  color: white;
  padding: 20px;
  font-size: 1.5rem;
}

.specialtyCard .cardHeader h3 {
  color: white;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.cardBody {
  padding: 25px;
  font-size: 1.1em;
  color: #334155;
  line-height: 1.7;
}

.icon {
  width: 40px;
  height: 40px;
  object-fit: contain;

}