.cardGrid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.aboutUs {
  padding: 60px 40px;
  background-color: #ffffff;
  box-shadow: 0 8px 24px #f6f5f7;
  margin: 30px auto;
  border-radius: 12px;
  max-width: 1400px;
}
.aboutContainer {
  max-width: 1200px;
  margin: auto;
  border-radius: 12px;
}
.aboutContainer h1 {
  font-size: 2.8em;
  color: #eef6f9; 
  text-align: center;
  margin-bottom: 30px;
  background: #203394;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  letter-spacing: -0.5px;
  
}

.text {
  font-size: 1.2em;
  color: #1c2733; 
  line-height: 1.7;
  margin-bottom: 25px;
  text-align: justify;
  font-weight: 400;
}
.card {
  background-color: white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.card.expanded {
  background-color: #e6f0ff;
  transform: scale(1.05);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardText {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

.readMoreButton {
  margin-top: 10px;
  padding: 8px 14px;
  background-color: #13b33b;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.readMoreButton:hover {
  background-color: #0e902e;
}

.readMoreButton.expanded {
  background-color: #203394;
}
.specialtiesHeading {
  text-align: center;
  font-size: 2.5rem;
  color: white;
  background: linear-gradient(to right, #132d85, #1d44c4);
  padding: 20px;
  border-radius: 10px;
  margin: 40px 0 20px 0;
}

.specialties {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 1rem;
}

.specialtyCard {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  overflow: hidden;
}

.cardHeader {
  background: linear-gradient(to right, #5b9bd5, #1e3c72);
  color: white;
  padding: 15px 20px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.cardBody {
  padding: 20px;
  font-size: 1rem;
  color: #333;
}

.icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-right: 10px;
}

