.heroSection {
  background-color: #0f4613; 
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 80px;
  padding-top: 70px;
}

.heroContainer,
.messageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  gap: 30px;
  padding: 30px;
}

.heroContainer:hover,
.messageContainer:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}


.heroImage img,
.messageImage img {
  width: auto;
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: fit;
}


.heroText,
.messageText {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroText p,
.messageText p {
  font-size: 18px;
  line-height: 1.8;
  color: #333;
  font-weight: 500;
  margin: 0;
}
.highlight {
  color: #0f4613;
  font-weight: bold;
}


@media (max-width: 1024px) {
  .heroContainer,
  .messageContainer {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .heroImage img,
  .messageImage img {
    max-width: 100%;
  }
}