.headerContainer {
  background-color: #ffffff;
  opacity: 0.9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 128, 0, 0.5);
}

.container {
  position: relative;
  min-height: 10px;
  display: flex;
  z-index: 1000;
}

.heroSection {
  display: flex;
  padding: 20px;
  background-color: #0f4613;
  width: 100%;
}

.heroContainer {
  display: flex;
  width: 100%;
  box-shadow: 0 4px 8px rgba(41, 23, 121, 0.1);
  padding: 10px;
}

.heroBox {
  width: 100%;
}

.heroImage img {
  width: 100%;
  height: 100%;
  max-width: 400px;
}

.heroText {
  padding: 20px;
  background-color: white;
  font-size: 24px;
  line-height: 1.5;
}

.heroText p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin: 0;
  width: 500px;
}

@media (max-width: 1000px) {
  .heroContainer {
    flex-direction: column;
  }

  .heroImage img {
    max-width: 100%;
  }
}

.messageContainer {
  display: flex;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.messageBox {
  width: 100%;
}

.messageImage img {
  width: 100%;
  height: 100%;
  max-width: 400px;
}

.messageText {
  padding: 20px;
  background-color: white;
  font-size: 24px;
  line-height: 1.5;
}

.messageText p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin: 0;
  width: 500px;
}

@media (max-width: 1000px) {
  .messageContainer {
    flex-direction: column;
  }

  .messageImage img {
    max-width: 100%;
  }
}

.dark {
  background-color: #23272f;
  color: #e0e0e0;
}

.darkContainer {
  box-shadow: 0 4px 8px rgba(255, 215, 0, 0.1);
}

.darkText {
  background-color: #181a1b;
  color: #F2F7A1;
}

.darkText p {
  color: #F2F7A1;
}


.dark-mode .heroContainer {
  box-shadow: 0 4px 8px rgba(255, 215, 0, 0.1) !important;
}

.dark-mode .heroText,
.dark-mode .messageText {
  background-color: #181a1b !important;
  color: #F2F7A1 !important;
}

.dark-mode .heroText p,
.dark-mode .messageText p {
  color: #F2F7A1 !important;
}
